{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'script.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Django template</title>
</head>
<body>
    <h1>Welcome to my Django App in feature_dev branch</h1>
    <header>
        Header section of our django application
    </header>
    <main>
        Main section of our application
    </main>

    <p id="demo">click here </p>
</body>
</html>